/*
	default rules
	alexander@binaerpilot.no
*/
@import "reset.css";
html, body {
	height:100%;
	color:#fff;
}
h1, h2, h3, h4 {
	cursor:default;
}
#joshua input {
	display:block;
}
.countdown * {
	display:inline;
}
.clear {
	clear:both;
}
#desktop a, .close, .pointer {
	cursor:pointer;
}
#desktop, .contra, .extra {
	display:none;
}

/* tables */
td {
	padding-right:10px;
	vertical-align:top;
}
td .image {
	margin-right:20px;
}
tr td:last-child {
	padding-right:0;
}
td.command {
	vertical-align:middle;
	min-width:150px;
}
.stats td.light {
	width:100px;
}

/* pixel people! */
.speechBubble {
	padding:5px 10px;
	margin-bottom:0px;
	max-width:225px;
	background-color:#fff;
	color:#000;
}
.pixelPerson {
	margin-bottom:20px;
	background-image: url("images/pixelChat.png");
	background-repeat:no-repeat;
	padding-top:8px;
}

/* table expander */
.version a.toggle, .output a.external {
	cursor:pointer;
	font-size:75%;
	line-height:25px;
	font-weight:bold;
}
.version tr {
	display:none;
}

/* windows */
.window {
	z-index:20;
	display:none;
	width:220px;
	position:absolute;
	top:20px; right:20px;
}
.window h1 {
	cursor:move;
}
#config.window {
	z-index:21;
	width:320px;
}
#gallery.window {
	width:349px;
}
#music.window {
	z-index:21;
}
#alexander.window {
	width:340px;
}

/* superplastic */
#superplastic.window {
	z-index:21;
	width:580px;
	height:378px;
	position:absolute;
    left:50% !important; top:50% !important;
	margin-left:-290px;
	margin-top:-180px;
	background-color:#080808;
	background-image:none;
}

/* malkovich */
#malkovich {
	display:none;
	z-index:30; position:absolute;
	background-image:url("images/malkovich.png");
	width:48px; height:68px;
}

/* profile */
#profile .image {
	width:80px;
	height:80px;
	background:url("http://www.gravatar.com/avatar/332889bd5f2e5e183cbcccfa862e053d.png");
}
#alexander #bio {
	display:none;
}
.image {
	line-height:1px;
}
table.fluid {
	width:auto;
}
table.version td.command {
	vertical-align:top;
}
#pearls p {
	margin-bottom:0;
}
.tiny {
	text-transform:capitalize;
}
.tiny div {
	cursor:pointer;
}
.tiny .lcars {
	text-transform:uppercase;
}
tr.major .command {
	text-transform:lowercase;
}
.tiny .contra {
	display:none;
}
.pink {
	color:#f09;
}

/* gallery */
#slideshow {
	height:265px;
	margin-bottom:10px;
}
ul.thumbs {
	position:relative;
	left:-5px; top:5px;
	width:355px;
}
ul.thumbs li {
	display:inline;
	line-height:1px;
}
ul.thumbs li a {
	display:block;
	line-height:1px;
	float:left;
	margin-left:5px;
	margin-bottom:5px;
	height:44px;
	width:54px;
	opacity:0.75;
}
ul.thumbs li a:hover {
	opacity:1;
}

/* tweaks */
pre.messages {
	white-space:pre-line;
}
pre.messages .dark {
	display:none;
}

/* content */
ul.inline li {
	float:left;
	margin-right:10px;
	text-align:center;
	margin-top:0px;
}
pre.ascii {
	font-size:12px;
	line-height:12px;
}
ul.tracks a {
	text-transform:capitalize;
}

/* effects */
.brush {
	z-index:30;
	position:absolute;
	width:21px;
	height:21px;
	background-image:url("images/brushWhite.png");
}
.overlay {
	display:none;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	opacity:0.25;
	z-index:99;
	background-color:#000;
}

/* fonts */
@font-face {
	font-family:'Joshua-Fixed';
	src: url('fonts/profontwindows.ttf') format("truetype");
}


/* config */
#sliders {
	display:none;
}


/* --- EXTERNAL RULES --- */



/* fancybox */
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

* html #fancybox-loading {	/* IE6 */
	position: absolute;
	margin-top: 0;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('images/fancybox.png');
	opacity:0.25;
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: transparent;
	opacity:0;
	z-index: 1100;
	display: none;
}

* html #fancybox-overlay {	/* IE6 */
	position: absolute;
	width: 100%;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 1101;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-image: url('images/fancybox.png');
	background-position: -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox_error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 7px;
	margin: 0;
}

#fancybox-content {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}

#fancybox-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding: 10px 0;
	text-align: center;
	color: #333;
}

.fancybox-title-outside {
	padding-top: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.fancybox-title-over {
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('images/fancy_title_over.png');
	display: block;
}

#fancybox-title-wrap {
	display: inline-block;
}

#fancybox-title-wrap span {
	height: 32px;
	float: left;
}

#fancybox-title-left {
	padding-left: 15px;
	background-image: url('images/fancybox.png');
	background-position: -40px -90px;
	background-repeat: no-repeat;
}

#fancybox-title-main {
	font-weight: bold;
	line-height: 29px;
	background-image: url('images/fancybox-x.png');
	background-position: 0px -40px;
	color: #FFF;
}

#fancybox-title-right {
	padding-left: 15px;
	background-image: url('images/fancybox.png');
	background-position: -55px -90px;
	background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background-image: url('images/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('images/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('images/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancy-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}
/* shadows 
#fancy-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('images/fancybox-x.png');
}

#fancy-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('images/fancybox.png');
	background-position: -40px -162px;
}

#fancy-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('images/fancybox-y.png');
	background-position: -20px 0px;
}

#fancy-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('images/fancybox.png');
	background-position: -40px -182px; 
}

#fancy-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('images/fancybox-x.png');
	background-position: 0px -20px;
}

#fancy-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('images/fancybox.png');
	background-position: -40px -142px;
}

#fancy-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('images/fancybox-y.png');
}

#fancy-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('images/fancybox.png');
	background-position: -40px -122px;
} */

/* scrollpane */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #383838;
}
.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
