/*
 * joshua base
 */
@import "resources/reset.css";
@font-face {
	font-family:'ProFont';
	src: url('fonts/profont.ttf') format("truetype");
}
* {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
html, body {
	height:100%;
	color:#fff;
}
a {
	text-decoration:none;
	color:#fff;
}
h1, h2, h3, h4 {
	cursor:default;
}
#joshua input {
	display:block;
}
#prompt {
	background-color:transparent;
}
.scratch {
	text-decoration:line-through;
}
.clear {
	clear:both;
}
.command, #desktop a, .close, .tiny li {
	cursor:pointer;
}
.contra, .extra {
	display:none;
}

/* tables */
td {
	padding-right:10px;
	vertical-align:top;
}
td .image {
	margin-top:4px;
	margin-right:20px;
}
tr td:last-child {
	padding-right:0;
}
td.command {
	white-space:nowrap;
}

/* pixel people! */
.speechBubble {
	padding:5px 10px !important;
	margin-bottom:0 !important;
	max-width:225px;
	background-color:#fff;
	color:#000;
}
.pixelPerson {
	margin-bottom:20px;
	background-image: url("images/pixelChat.png");
	background-repeat:no-repeat;
	padding-top:8px;
}

/* table expander */
#version a.toggle, .output a.external {
	cursor:pointer;
	font-size:75%;
	line-height:25px;
	font-weight:bold;
}
#version tr {
	display:none;
}

/* windows */
.window {
	z-index:20;
	display:none;
	width:220px;
	position:absolute;
	top:20px; right:20px;
}
#customize.window {
	z-index:21;
	width:280px;
}
#music.window {
	z-index:21;
}
#music .link {
	display:inline-block;
	width:109px;
	height:13px;
	background-image:url("images/mp3Player.png");
	background-repeat:no-repeat;
	margin-top:10px;
}
/* superplastic */
#superplastic {
	z-index:21;
	width:580px;
	line-height:1;
}

/* malkovich */
#malkovich {
	display:none;
	z-index:30; position:absolute;
	background-image:url("images/malkovich.png");
	width:48px; height:68px;
}

/* miscellaneous */
.image {
	display:inline-block;
	line-height:1px;
}
table.fluid {
	width:auto;
}
#version td:first-child {
	vertical-align:top;
}
.menu a {
	display:block;
}
#img .image {
	margin-right:10px;
	margin-bottom:10px;
}
/* tiny */
.tiny {
	text-transform:capitalize;
}
.tiny li {
	cursor:pointer;
}
.tiny .lcars {
	text-transform:uppercase;
}

/* images */
#gallery.window {
	width:468px;
}
#slick {
	width:468px;
	height:468px;
	overflow:hidden;
	position:relative;
}
#slick ul {
	background-image:url("images/backgroundSlick.png");
	top:468px;
	position:absolute;
	z-index:21;
	width:488px;
	padding:10px;
	padding-top:0px;
	padding-left:0px;
}
.thumbs li {
	cursor:pointer;
	display:block;
	float:left;
	line-height:1px;
	margin-left:10px;
	margin-top:10px;
	opacity:0.5;
}
.thumbs li.noMargin {
	margin-left:0;
}
.thumbs li:hover, .thumbs li.activeSlide {
	opacity:1;
}

/* tweaks */
pre.messages {
	white-space:pre-line;
}
pre.messages .dark {
	display:none;
}

/* content */
pre, .pre, p.irc, .fixed-width {
	font-family:'Consolas', 'Monaco';
	font-size:11px;
	line-height:1.4em;
}
#version .fixed-width {
	white-space:nowrap;
}
pre.ascii {
	line-height:1.2em;
}
.capitalize, .menu a {
	text-transform:capitalize;
}
.output *, input {
	-webkit-user-select:text;
	-moz-user-select:text;
	user-select:text;
}
/* effects */
.brush {
	z-index:30;
	position:absolute;
	width:21px;
	height:21px;
	background-image:url("images/brushWhite.png");
}
.overlay {
	display:none;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	opacity:0.25;
	z-index:99;
	background-color:#000;
}

/* simplemodal */
#modalOverlay {
	background-color:#000;
}
.modalClose {
	cursor:pointer;
}

/*
 * loader
 */
#loader {
	display:none;
	position:fixed;
	top:20px;right:20px;
	z-index:100;
	height:28px; width:28px;
	background:url('images/loader.png') no-repeat center 6px;
	border:none;
	-webkit-animation:load 0.2s infinite linear;
}
@-webkit-keyframes load {
	0% {
		opacity:1;
	}
	50% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

/* cylon */
#cylon {
	z-index:31;
	position:fixed;	top:0;
	width:120px; height:5px;
	background: -moz-linear-gradient(left,  hsla(0,0%,0%,0) 0%, hsla(0,100%,60%,1) 50%, hsla(0,0%,0%,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,100%,60%,1)), color-stop(100%,hsla(0,0%,0%,0)));
	background: -webkit-linear-gradient(left,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	background: -ms-linear-gradient(left,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	background: linear-gradient(to right,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

/* videos */
#videos.window {
	z-index:21;
	width:560px;
}
#videos iframe, #videos ul {
	margin-top:10px;
}
#videos .menu {
	text-align:left;
	column-count:2;
	column-gap:10px;
	-webkit-column-count:2;
	-webkit-column-gap:10px;
	-moz-column-count:2;
	-moz-column-gap:10px;
}
#videos .menu .button {
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:pointer;
}
input[type="search"] {
	width:560px;
	font-family:Helvetica, Arial;
	font-size:16px;
}

/* pulsar */
body.pulsar {
	-webkit-animation:pulsar 180s infinite linear;
}
@-webkit-keyframes pulsar {
	0% {
		background-color:#004C79;
	}
	25% {
		background-color:#BE6900;
	}
	50% {
		background-color:#A6003D;
	}
	75% {
		background-color:#5AAC00;
	}
	100% {
		background-color:#004C79;
	}
}

/* matrix */
@font-face {
	font-family:'Matrix';
	src: url('fonts/matrix.ttf') format("truetype");
}
#matrix {
	position:fixed;
	z-index:0;
}
#matrix .thread {
	font-family: 'Matrix';
	position:absolute;
	top:0px;
	color:#0f0;
	overflow:hidden;
}