/*
 * joshua base
 */
@import "resources/reset.css";
@font-face {
	font-family:'ProFont';
	src: url('fonts/profont.ttf') format("truetype");
}
html, body {
	height:100%;
	color:#fff;
}
a {
	color:#fff;
}
h1, h2, h3, h4 {
	cursor:default;
}
#joshua input {
	display:block;
}
#prompt {
	background-color:transparent;
}
.output a {
	text-decoration:underline;
}
.countdown * {
	display:inline;
}
.scratch {
	text-decoration: line-through;
}
.clear {
	clear:both;
}
#desktop a, .close, .tiny li {
	cursor:pointer;
}
.contra, .extra {
	display:none;
}

/* tables */
td {
	padding-right:10px;
	vertical-align:top;
}
td .image {
	margin-top:4px;
	margin-right:20px;
}
tr td:last-child {
	padding-right:0;
}
td.command {
	min-width:150px;
}
.stats td.light {
	width:100px;
}
/* pixel people! */
.speechBubble {
	padding:5px 10px;
	margin-bottom:0px;
	max-width:225px;
	background-color:#fff;
	color:#000;
}
.pixelPerson {
	margin-bottom:20px;
	background-image: url("images/pixelChat.png");
	background-repeat:no-repeat;
	padding-top:8px;
}

/* table expander */
.version a.toggle, .output a.external {
	cursor:pointer;
	font-size:75%;
	line-height:25px;
	font-weight:bold;
}
.version tr {
	display:none;
}

/* windows */
.window {
	z-index:20;
	display:none;
	width:220px;
	position:absolute;
	top:20px; right:20px;
}
#customize.window {
	z-index:21;
	width:320px;
}
#music.window {
	z-index:21;
}

/* superplastic */
#superplastic {
	z-index:21;
	width:580px;
	position:absolute;
	left:50% !important; top:50% !important;
	margin-left:-290px;
	margin-top:-180px;
	line-height:1;
}

/* malkovich */
#malkovich {
	display:none;
	z-index:30; position:absolute;
	background-image:url("images/malkovich.png");
	width:48px; height:68px;
}

/* miscellaneous */
.image {
	line-height:1px;
}
table.fluid {
	width:auto;
}
table.version td.command {
	vertical-align:top;
}

/* tiny */
.tiny {
	text-transform:capitalize;
}
.tiny li {
	cursor:pointer;
}
.tiny .lcars {
	text-transform:uppercase;
}
tr.major .command {
	text-transform:lowercase;
}
.pink {
	color:#f09;
}

/* gallery */
#gallery.window {
	width:560px;
}
#slick {
	width:560px;
	height:345px;
	overflow:hidden;
	position:relative;
}
#slick ul {
	background-image:url("images/backgroundSlick.png");
	top:345px;
	position:absolute;
	z-index:21;
	width:580px;
	padding:10px;
	padding-top:0px;
	padding-left:0px;
}
ul.thumbs li {
	cursor:pointer;
	display:block;
	float:left;
	line-height:1px;
	margin-left:10px;
	margin-top:10px;
	opacity:0.25;
}
ul.thumbs li.noMargin {
	margin-left:0;
}
ul.thumbs li:hover, ul.thumbs li.activeSlide {
	opacity:1;
}

/* tweaks */
pre.messages {
	white-space:pre-line;
}
pre.messages .dark {
	display:none;
}

/* content */
pre, .pre, p.irc, .fixed-width {
	font-family:'Consolas', 'Monaco';
	font-size:11px;
	line-height:1.4em;
}
pre.ascii {
	line-height:1.2em;
}
.capitalize, ul.menu a {
	text-transform:capitalize;
}

/* effects */
.brush {
	z-index:30;
	position:absolute;
	width:21px;
	height:21px;
	background-image:url("images/brushWhite.png");
}
.overlay {
	display:none;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	opacity:0.25;
	z-index:99;
	background-color:#000;
}

/* simplemodal */
#modalOverlay {
	background-color:#000;
}
.modalClose {
	cursor:pointer;
}

/* scrollpane */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #383838;
}
.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

/*
 * loader only works in webkit (like everything else on this site)
 */
#loader {
	display:none;
	z-index:100;
	background:url(images/loader.png) no-repeat center center;
	position:fixed;
	top:20px; right:20px;
	height:28px; width:28px;
	border:2px solid hsla(0,0%,100%,0.25);
	border-top:2px solid hsla(0,0%,100%,0);
	border-bottom:2px solid hsla(0,0%,100%,0);
	border-radius:28px;
	-webkit-animation:spin 1s infinite linear;
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(20deg); }
	50% { -webkit-transform:rotate(-40deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

/* cylon */
#cylon {
	z-index:31;
	position:fixed;	top:0;
	width:120px; height:5px;
	background: -moz-linear-gradient(left,  hsla(0,0%,0%,0) 0%, hsla(0,100%,60%,1) 50%, hsla(0,0%,0%,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,100%,60%,1)), color-stop(100%,hsla(0,0%,0%,0)));
	background: -webkit-linear-gradient(left,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	background: -o-linear-gradient(left,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	background: -ms-linear-gradient(left,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	background: linear-gradient(to right,  hsla(0,0%,0%,0) 0%,hsla(0,100%,60%,1) 50%,hsla(0,0%,0%,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

/* video */
#video.window {
	width:560px;
}
input[type="search"] {
	width:560px;
	padding:4px;
	font-family:Helvetica, Arial;
	font-size:14px;
}