@import "../reset.css";
html, body {height:100%}
body {
	font-family:Helvetica,Arial;
	font-size:14px;
	line-height:14px;
	color:#fff;
	background-color:#111;
}
pre {
	font-family:Monospace;
}
img {border:0;}
p {margin:0;}
a {
	color:#777;
	text-decoration:none;
}
strong {
	font-weight:bold;
}
#wrapper {
	width:840px;
	margin:auto;
	padding:100px 0;
}
#wrapper h1 {
	font-size:28px;
	line-height:20px;
	letter-spacing:-2px;
	color:#666;
	text-transform:uppercase;
	margin-bottom:20px;
}
h1 strong {
	color:#fff;
}
select {
	width:180px;
}
#backlink {
	background-color:transparent !important;
	color:#666 !important;
}
#backlink:hover {
	color:#ccc !important;
}
pre, input, select {
	border:0;
	padding:10px;
	font-size:14px;
	line-height:14px;
	color:#fff;
	margin-right:20px;
}
pre, input, select {
	background-color:#222;
}
.notice, pre, input, select, .button {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
input:focus {
	background-color:#444;
}
input#submit {
	padding:12px 10px 14px 10px;
	background-color:#a00;
}
input#submit:hover {
	background-color:#f00;
	color:#fff;
	cursor:pointer;
}
input.text {
	width:250px;
}
pre {
	padding:20px 20px;
	font-size:10px;
	line-height:12px;
	width:800px;
	margin:0;
	margin-bottom:20px;
}
.button {
	float:left;
	padding:9px 10px 11px 10px;
	background-color:#f00;
	cursor:pointer;
	margin-right:15px;
}
#message {
	float:left;
	display:none;
	margin-bottom:25px;
}
.notice {
	background-color:#333;
	color:#aaa;
	display:inline;
	padding:10px;
}
pre .font {
	color:#777;
	font-family:Helvetica,Arial;
	margin-top:20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
#wtfig input, #wtfig select {
	float:left;
}
.spacing {
	clear:both;
	height:20px;
}
#footer {
	margin-top:40px;
	clear:both;
	color:#777;
}