@import "../resources/reset.css";
body {
	background-color:#000;
	font-family: Helvetica, Arial;
	font-size:14px;
	line-height:18px;
	color:#777;
}
.button {
	display:block;
	float:left;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	font-weight:bold;
}
.button:hover {
	border-color:#fff;
	color:#fff;
}

.button, input {
	font-size:11px;
	line-height:20px;
	padding:0 10px;
	color:#666;
	border:solid 1px #333;
}
#startGame, #submitForm {
	float:right;
	position:fixed;
	bottom:10px; right:10px;
}
b {
	color:#ccc;
}
p, ul {
	margin-bottom:10px;
}
#hud {
	position:fixed;
	top:10px; left:10px;
}
#hud, ul {
	font-size:10px;
	line-height:14px;
	text-transform:uppercase;
}
input {
	float:left;
	height:22px;
	background-color:transparent;
	margin-right:10px;
}
input.text:focus, input:hover {
	color:#fff;
	border-color:#fff;
}
input.text {
	font-weight:normal;
	width:100px;
}
#highscore ul {
	list-style-type:none;
	column-count: 3;  
    column-gap: 50px;  
	-webkit-column-count: 3;  
    -webkit-column-gap: 50px;  
	-moz-column-count: 3;  
    -moz-column-gap: 50px;  
}
.button, input {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#message {
	display:none;
	position:absolute;
	top:0; left:0;
	width:100%;
	height:100%;
	background-color:#000;
}
h2 {
	margin-top:20px;
	margin-bottom:10px;
	color:#666;
	border-top:solid 1px #333;
	text-align:center;
	font-size:10px;
	text-transform:uppercase;
}
ul {
	padding-bottom:10px;
	border-bottom:solid 1px #333;
}
.pos {
	display:inline-block;
	margin-right:5px;
	text-align:right;
}
.score {
	float:right;
}
.gameContainer {
	padding:10px;
}
#highscore {
	width:560px;
}
#gameOver {
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:18px;
	position:absolute;
	top:50%; left:50%;
	margin-left:-200px;
	margin-top:-25px;
	text-align:Center;
	width:400px;
}