@font-face {
	font-family:'C64';
	src: url('../fonts/c64.ttf') format("truetype");
}
body {
	font-family:'C64';
	font-size:12px;
	line-height:1.6em;
	background-color:hsl(247,59%,65%);
}
* {
	text-transform:uppercase;
}
#joshua {
	padding:40px;
	background-color:hsl(247,54%,41%);
	border:solid 80px hsl(247,59%,65%);
}
a {
	text-decoration:none;
}
body, #joshua, #prompt {
	color:hsl(247,59%,65%);
}
.prefix, .prompt {
	display:none;
}
#joshua h1 {
	text-align:center;
	margin-bottom:20px;
}
h1, h2, p, table {
	margin-bottom:20px;
}
.prompt {
	text-transform:uppercase;
}
.window {
	position:fixed;
	background-color:hsl(247,59%,75%);
	padding:20px;
	color:hsl(247,59%,55%);
	box-shadow:10px 10px 0 hsla(247,59%,10%,0.15);
}
.window a {
	color:hsl(247,59%,55%);
}
.close {
	float:right;
	text-transform:uppercase;
}
.light, .command, a {
	color:hsl(247,59%,75%);
}
.menu .playing, .options .active {
	color:hsl(247,59%,35%);
}
.command {
	text-transform:uppercase;
}
h2, #music .link {
	display:none;
}
#loader {
	background-image:none;
}
#cylon, .brush {
	background: hsl(247,54%,41%);
}

/* pulsar */
li[data-effect="pulsar"] {
	display: none;
}
html.pulsar body {
	-webkit-animation:none;
}

.options li {
	display: block;
	text-transform: uppercase;
}
