.pink {color:#f09;}
body {background-color:#02262e;color:#fff;}
#joshua {background-color:#02343e;}
 .window {background-color:#ff7800;}
h1, #input {background-color:#002933;}
.dark, .prompt {color:#92d0e0;}
a, .joshua, .error, .joshua .command {color:#fbb11a;}
.example, .light, .command {color:#48b2ce;}
.button.playing, .options li, .menu li a, .options li:hover, .window h1, .window h2, .button, .button:hover, .window, .window .close, .window .close:hover, .ui-slider, .options .active {color:#582023;}
.window h1, .window h2 {background-color:#d15213;}
.options li, .slider-frame, .button, .window h2 {background-color:#e66405;}
.window a {
	color:#02343e;
}
.window {
	color:#1c0900;
}
ul.icons li a {
	background-image:url("../images/iconsCarolla.png");
}
body {
	background-image: none;
}
.button.playing, .button:hover, .options li:hover, .ui-slider-handle, .options .active {
	background-color:#d35300;
}
::-webkit-scrollbar-thumb {
	background-color:#002933;
}
#music .link {
	background-image:url("../images/mp3PlayerBlack.png");
}
#cylon {
	background: -webkit-linear-gradient(left, rgba(2,36,44,0) 0%, #ff7800 50%, rgba(2,36,44,0) 100%);
	background: -moz-linear-gradient(left, rgba(2,36,44,0) 0%, #ff7800 50%, rgba(2,36,44,0) 100%);
	background: -ms-linear-gradient(left, rgba(2,36,44,0) 0%, #ff7800 50%, rgba(2,36,44,0) 100%);
	background: linear-gradient(left, rgba(2,36,44,0) 0%, #ff7800 50%, rgba(2,36,44,0) 100%);
}
.brush {
    background: -webkit-radial-gradient(center center, circle contain, #ff7800 0%, rgba(2, 36, 44, 0) 100%);
    background: -moz-radial-gradient(center center, circle contain, #ff7800 0%, rgba(2, 36, 44, 0) 100%);
    background: -ms-radial-gradient(center center, circle contain, #ff7800 0%, rgba(2, 36, 44, 0) 100%);
    background: radial-gradient(center center, circle contain, #ff7800 0%, rgba(2, 36, 44, 0) 100%);
}
#loader {
	background:url('../images/loaderCarolla.png') no-repeat center 6px;
}
