/*
 * nextgen: carolla
 */
.pink {color:#f09;}
body {background-color:#02262e;color:#fff;}
#joshua {background-color:#02343e;}
.jScrollPaneDrag {background-color:#3495a5;}
 .window {background-color:#ff7800;}
h1, #input, .jScrollPaneTrack {background-color:#002933;}
.dark, .prompt {color:#92d0e0;}
a, .joshua, .error {color:#fbb11a;}
.example, .light, .command {color:#48b2ce;}
.button.playing, .tiny li, .menu li a, .tiny li:hover, .window h1, .window h2, .button, .button:hover, .window, .window .close, .window .close:hover, .slider {color:#582023;}
.window h1, .window h2 {background-color:#d15213;}
.tiny li, #sliders .frame, .button, .window h2 {background-color:#e66405;}
.window a {
	color:#02343e;
}
.window {
	color:#1c0900;
}
ul.icons li a {
	background-image:url("../images/iconsCarolla.png");
}
body {
	background-image:url("../images/backgroundCarolla.png");
	background-repeat:repeat-x;
	background-position:0% 0%;
}
.button.playing, .button:hover, .tiny li:hover, .ui-slider-handle {
	background-color:#d35300;
}