/*
 * nextgen: contra
 */
body {
	background-color:#152521;
	background-image:url("../images/backgroundKonami.png");
	background-position:98% 95%;
}

#joshua {
	background-color:#1b2e2a;
}

/* images */
ul.icons li a {
	background-image:url("../images/iconsKonami.png");
	color:#c28934;
}

/* colors */
.pink {color:#f09;}
.ui-slider-handle, .window h1, .window h2, .window {background-color:#300b09;}
a, .joshua, .error {color:#ccab60;}
.dark, .prompt {color:#c28934;}
.example, .light, .command {
	color:#ffd56d;
}
#prompt, .close, .close:hover {color:#fff;}
.window h1, .window h2 {
	color:#fff;
	padding:0;
}
 #input, h1 {
	background-color:#152521;
}
.window .close {
	position:absolute;
	top:10px;
	right:10px;
}
.tiny li, #sliders .frame, .button {
	background-color:#3e0e0c;
	color:#d19f9c;
}
.tiny li:hover, .button:hover, .button.playing {
	background-color:#c28934;
	color:#4e1616;
}
::-webkit-scrollbar-thumb {
	background-color:#152521;
}