body {
	background-color:#fff;
	background-position:700px 0;
	background-repeat:no-repeat;
	color:#333;
}
body, #joshua {
	font-family:Helvetica, Arial;
	font-size:14px;
	line-height:18px;
}
* {
	text-shadow:rgba(0,0,0,0.05) 1px 1px 1px;
}
#joshua h1 {
	padding-top:40px;
	padding-left:40px;
	font-size:48px;
	line-height:48px;
}
#joshua h1 #version {
	font-size:14px;
	color:#888;
}
#joshua h1 .dark {
	display:none;
}
a, .output a, .tiny li {
	color:#f00;
	text-decoration:none;
	border-bottom:solid 1px rgba(255,0,0,0.15);
}
b, b {
	font-weight:bold;
	letter-spacing:-1px;
}
.speechBubble {
	border:solid 1px #eee;
}
.window {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(1, hsl(0,0%,90%)),
		color-stop(0.0, hsl(0,0%,95%))
	);
	font-size:12px;
	line-height:18px;
	padding:20px;
	color:#888;
}
p.note {
	display:none;
}
.window h1 {
	font-size:18px;
	line-height:22px;
	font-weight:bold;
}
.window h2 {
	margin-top:20px;
	font-size:16px;
	line-height:20px;
}
.tiny li {
	float:left;
	margin-right:10px;
}
a:hover, .tiny li:hover, .tiny .active {
	border-color:rgba(255,0,0,0.75);
}
#joshua {
	min-height:100%;
	width:650px;
}
#output {
	padding-left:40px;
}
.example {
	border-left:solid 7px #777;
	padding-left:7px;
	color:#777;
}
.close {
	text-shadow:none;
	border:none;
	font-size:12px;
	line-height:18px;
	float:right;
	font-weight:normal;
	text-transform:uppercase;
}
h1, h2 {
	margin-bottom:10px;
}
.prompt, .output, p, table, pre {
	margin-bottom:20px;
}
#prompt {
	padding:0;
	border:none;
	width:420px;
}
td {
	padding-right:20px;
}
#prompt, .prefix, .prompt {
	color:#333;
	font-size:14px;
	line-height:18px;
}
#input {
	margin-left:40px;
	padding-bottom:40px;
}
#header {
	padding:40px 0 20px 40px;
}
.prefix {
	float:left;
}
.dark {
	font-style:italic;
}
.joshua, .command, .light {
	color:#f00;
}
.window, #superplastic {
	position:fixed;
}
#loader {
	background:url('../images/loaderWhite.png') no-repeat center 6px;
}
#music .link {
	margin-top:20px;
	background-image:url("../images/mp3PlayerBlack.png");
	opacity:0.5;
	border:none;
}

#matrix .thread {
	color:rgba(0,0,0,0.15);
}
.sparks, li.pulsar {
	display:none;
}
body.pulsar {
	-webkit-animation:none;
}
.brush {
    background: -webkit-radial-gradient(center center, circle contain, red 0%, rgba(255,255,255,0) 100%);
    background: -moz-radial-gradient(center center, circle contain, red 0%, rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center center, circle contain, red 0%, rgba(255,255,255,0) 100%);
    background: radial-gradient(center center, circle contain, red 0%, rgba(255,255,255,0) 100%);
}
#cylon {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, red 50%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, red 50%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, red 50%, rgba(255,255,255,0) 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, red 50%, rgba(255,255,255,0) 100%);
}