/* alexander@binaerpilot.no */
body {
	background-color:#fff;
	background-image:url("images/illusion.png");
	background-position:700px 0;
	background-repeat:no-repeat;
	color:#333;
	text-shadow:rgba(0,0,0,0.05) 1px 1px 1px;
}
body, #joshua {
	font-family:Helvetica, Arial;
	font-size:14px;
	line-height:18px;
}
#joshua h1 {
	padding-top:40px;
	padding-left:40px;
	font-size:48px;
	line-height:48px;
}
#joshua h1 #version {
	font-size:14px;
	color:#888;
}
#joshua h1 .dark {
	display:none;
}
pre {
	font-family:Monaco, Consolas;
	font-size:10px;
	line-height:14px;
}
a, .tiny div {
	color:#f00;
	text-decoration:none;
	border-bottom:solid 1px #fdd;
}
strong {
	font-weight:bold;
	letter-spacing:-1px;
}
.speechBubble {
	border:solid 1px #eee;
}
.window {
	background-color:#fff;
	background-image:url("../images/pattern45.png");
	font-size:12px;
	line-height:18px;
	border-radius:10px;
	padding:20px;
}
p.note {
	display:none;
}
.window h1 {
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	margin-bottom:20px;
}
.window h2 {
	margin-top:30px;
	margin-bottom:10px;
	font-size:16px;
	line-height:20px;
}
.tiny div {
	float:left;
	margin-right:5px;
}
a:hover, .tiny div:hover {
	border-color:#f00;
}
#joshua {
	min-height:100%;
	width:660px;
}
#output {
	padding-left:40px;
}
.example {
	border-left:solid 7px #777;
	padding-left:7px;
	color:#777;
}
.close {
	text-shadow:none;
	border:none;
	font-size:12px;
	line-height:18px;
	float:right;
	font-weight:normal;
	text-transform:uppercase;
}
h1, h2, .prompt, .output, p, table, pre {
	margin-bottom:20px;
}
#prompt {
	padding:0;
	background-color:transparent;
	border:none;
	width:480px;
}
td {
	padding-right:20px;
}
#prompt, .prefix, .prompt {
	color:#333;
	font-size:14px;
	line-height:18px;
}
#input {
	margin-left:40px;
	padding-bottom:40px;
}

#header {
	padding:40px 0 20px 40px;
}
.prefix {
	float:left;
}
.dark {
	font-style:italic;
}
.joshua, .command, .light {
	color:#f00;
}