body {
	background-color: #1a1817;
	color: rgba(255,255,255,.8);
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.5em;
}

#theRift {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#theRift img {
	position: absolute;
	z-index:0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	-webkit-user-select:none;
	user-select:none;
}

#joshua {
	border-radius: 8px;
	border: solid 1px #333;
	box-shadow: 0 0 40px rgba(0,0,0,.95);
	background-image: url('../images/joshuaBackgroundLeague.png');
	background-color: rgba(17,19,17,.9);
	height: 615px;
	width: 920px;

	position: absolute;
	top: 0;	left: 0; bottom: 0; right: 0;
	margin: auto;
}

#joshua h1 {
	background-image: url('../images/logoLeague.png');
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 100px;
	text-indent: -9999px;
	width: 920px;
}

#output {
	height: 430px;
	width: 845px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px 0 40px;
	margin-bottom: 20px;
}

#input {
	background-image: url('../images/inputBackgroundLeague.png');
	background-position: bottom center;
	background-repeat: no-repeat no-repeat;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 65px;
	padding: 0 30px;
}

#prompt {
	background-color: rgba(76,68,63,.1);
	border: solid 1px #4c443f;
	border-radius: 8px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	box-shadow:inset 1px 1px 10px rgba(0,0,0,.6);
	color: #4c443f;
	width: 835px;
	padding: 8px 10px;
}

#leagueStatus {
	display: none;
	background-image: url('../images/leagueStatus.png');
	height: 46px;
	width: 346px;
	
	position: absolute;
	top: 0;
	right: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
	border: solid 1px #4c443f;
	background-color: transparent;
	border-radius: 3px;
}

p, table, pre {
	cursor: default;
	margin: 12px 0;
}

#loader {
	background:url('../images/loaderLeague.png') no-repeat center 6px;
	top: 4px; right: 20px;
}

.prompt {
	color: #b9fef6;
	font-weight: bold;
	padding-top: 12px;
	text-transform: capitalize;
}

.command {
	border-bottom: solid 2px #1c4e48;
	padding-bottom: 1px;
}

.command:hover {
	border-color: #236059;
}

.output {
	background: linear-gradient(rgba(33,69,60,.25), rgba(13,28,25,.25));
	border: solid 2px #21453c;
	border-radius: 12px;
	color: #a0dad2;
	padding: 0 12px;
	margin-top: 24px;
}

.output:first-child {
	margin-top: 0;
}

td {
	padding-right: 24px;
}

.dark {
	color: #28615a;
}

.light {
	color: #cfffff;
}

