@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Share+Tech);
body {
	background-color:rgb(0,0,0);
	font-family:'Source Sans Pro', Helvetica, Arial;
	font-weight:400;
	font-size:16px;
	line-height:1.4em;
	color: #fff;
}
p, .output, table, .prompt, pre {
	margin-top:20px;
}
h1, h2 {
	margin-bottom:20px;
}
#nebula {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
#nebula img {
	position: absolute;
	z-index:0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	-webkit-user-select:none;
	user-select:none;
}
#joshua, .window {
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,.25) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,.25) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,.25) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,.25) 100%);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
#joshua {
	position:absolute;
	top: 0;
	left: 48px;
	height: 100%;
	width: 900px;
}
#superplastic.window {
	background-color: #000;
}
#customize.window {
	width: 160px;
}
.window {
	top: 0;
	right: 0;
	padding:20px;
}
.close {
	float:right;
}
#output {
	z-index: 1;
	padding:0 40px;
}
b, .active, .playing {
	font-weight:700;
}
#music .link {
	display:inline-block;
	opacity:0.15;
	text-align:right;
}
#prompt {
	width:820px;
	margin:30px 40px 0 40px;
	padding:5px 0px;
}
#output.overflow:before {
	width: 820px;
	position:absolute;
	z-index: 2;
	content:"";
	height: 50px;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
}
.image {
	border-radius:3px;
}
.window h1 {
	cursor:move;
}
h1, .prompt {
	font-family: 'Share Tech', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	padding-top:5px;
}
.prompt b {
	font-weight:normal;
}
.prompt {
	margin: 40px 0 0 0;
}
td {
	padding-right:20px;
}

/* scrollbars
 */
html, body {
	overflow:hidden;
 }
#output {
	overflow-x:hidden;
	overflow-y:auto;
}
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-thumb {
	border:none;
	background-color: rgba(255,255,255,0.1);
}

/* desktop
*/

#desktop {
	color:transparent;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.95);
	height:100%;
	width:48px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
#neocom, .icons li {
	width: 48px;
	height: 48px;
	text-align: center;
}
#windows li a {
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 32px;
	background-repeat:no-repeat;
	text-indent: -9999px;
}
#links {
	display:none;
}
#windows li a {
	background-image:url("../images/iconsNeocom.png");
}
[data-window="videos"] {
	background-position: -32px 0;
}
[data-window="superplastic"] {
	background-position: -64px 0;
}
[data-window="music"] {
	background-position: -96px 0;
}
[data-window="customize"].active {
	background-position: 0 -32px;
}
[data-window="videos"].active {
	background-position: -32px -32px;
}
[data-window="superplastic"].active {
	background-position: -64px -32px;
}
[data-window="music"].active {
	background-position: -96px -32px;
}
#neocom {
	display:table-cell;
	vertical-align:middle;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,.15) 0%, rgba(0,0,0,.15) 100%);
}

/* loader */
#loader {
	background-image:none;
	position:absolute;
	top:0;
	left:0;
	width:48px;
	height:48px;
	background-color: rgba(0,0,0,.75);
}
h2 {
	display:none;
}
p.example {
	margin-top:0px;
}
#music .link {
	margin-top:20px;
	float:right;
}
#music .link:hover {
	opacity:0.25;
}
.pulsar #nebula {
	display:none;
}
.pulsar #desktop {
	background-color:rgba(0,0,0,0.75);
}
.pulsar #prompt {
	color: rgba(255,255,255,.75);
	border-color: rgba(255,255,255,.25);
}
#cylon {
	background: -webkit-linear-gradient(left, transparent 0%, #fffe8f 50%, transparent 100%);
	background: -moz-linear-gradient(left, transparent 0%, #fffe8f 50%, transparent 100%);
	background: -ms-linear-gradient(left, transparent 0%, #fffe8f 50%, transparent 100%);
	background: linear-gradient(left, transparent 0%, #fffe8f 50%, transparent 100%);
}
.brush {
  background: -webkit-radial-gradient(center center, circle contain,#fffe8f 0%, transparent 100%);
  background: -moz-radial-gradient(center center, circle contain, #fffe8f 0%, transparent 100%);
  background: -ms-radial-gradient(center center, circle contain, #fffe8f 0%, transparent 100%);
  background: radial-gradient(center center, circle contain, #fffe8f 0%, transparent 100%);
}
#joshua h1 {
	display: none;
}

/* colors */
.light {
	color: #ffbe7d;
}
.dark {
	opacity: 0.5;
}
p a, table a, h1 {
	color: #fffe8f;
}
h1 {
	border-top: solid 1px #fffe8f;
}
p a, table a {
	border-bottom: solid 1px #fffe8f;
}
.command {
	color: #9affd9;
	border-bottom: solid 1px #9affd9;
}
.example {
	display: inline-block;
	border-bottom: solid 1px #ff8f8f;
}
#prompt {
	color: #9affd9;
	border-top: solid 1px #9affd9;
	border-bottom: solid 1px #9affd9;
}
.prompt {
	color: #ffbe7d;
	border-top: solid 1px #ffbe7d;
}
.joshua {
	color: #9affd9;
}
.error {
	color: #ff8f8f;
}
.example {
	color: #ff8f8f;
	opacity: 0.75;
}
.close {
	position: relative;
	top: -5px;
	padding: 0 10px;
	background-color: #fffe8f;
	color: #000;
	text-transform: lowercase;
	height: 21px;
	border-bottom: solid 1px #fffe8f;
}
.icon.light {
	background-color: #8f2b33;
}
.icon.dark {
	background-color: #b2783b;
}
pre, .irc, .fixed-width {
	font-family:'Consolas', 'Monaco';
	font-size:12px;
	line-height:1.5em;
}

.options li {
	display: block;
}
