@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	background-color:#141414;
	background-image:url("../images/joshuaBackgroundPirate.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50% 50%;
	font-family:'Open Sans', Arial, Helvetica;
	font-size:12px;
	line-height:1.4em;
}
a {
	text-decoration:none;
}
p a {
	border-bottom:solid 1px #004353;
}
.window {
	background-color:rgba(24,24,24,0.5);
	color:#ccc;
	padding:10px;
	border-radius:5px;
}
.window h1, .window h2 {
	color:#fff;
	margin-bottom:10px;
}
h1, h2 {
	font-size:14px;
	font-weight:bold;
}
.output, .prompt, p, pre, table {
	margin-bottom:20px;
}
#joshua {
	min-height:80%;
	width:80%;
	padding:20px;
	font-size:14px;
	line-height:1.4em;
}
#prompt {
	padding:0;
	border:none;
	width:460px;
	position:relative;
}
.prefix {
	float:left;
}
.prefix, .prompt, #prompt {
	color:#888;
}
td {
	padding-right:20px;
	padding-bottom:2px;
}
#pearls p, .dark, .example {
	color:#666;
}
.example {
	position:relative;
	top:-5px;
	border-left:solid 1px #666;
	padding-left:10px;
}
.joshua, .error, a {
	color:#00becd;
}
.prompt b, .prefix b {
	font-weight:normal;
	color:#666;
}
.light, .command {
	color:#00e5f3;
}
.window a {
	color:#00becd;
}
.options li {
	float:left;
	margin-right:10px;
	margin-top:5px;
	color:#888;
}
a.close {
	float:right;
	font-size:2px;
	line-height:1em;
	padding:5px;
	margin-right:0;
	font-weight:normal;
	background-color: rgba(255,255,255,.25);
	color: rgba(255,255,255,.25);
}
a.close:hover {
	background-color:#00becd;
	color:#00becd;
}
a.close, .image img {
	border-radius:3px;
}
#img .image {
	border:none;
}
.menu a {
	display:block;
	color:#888;
	margin-top:5px;
}
.options li:hover , .menu a:hover, a.playing, .options .active {
	color:#00becd;
}
.options {
	margin-bottom:20px;
}
::selection {
	background-color:#00becd;
	color:#fff;
}
#fx {
	margin-bottom:0;
}
.window, #superplastic {
	position:fixed;
}
#cylon {
	background: -webkit-linear-gradient(left, transparent 0%, #00becd 50%, transparent 100%);
	background: -moz-linear-gradient(left, transparent 0%, #00becd 50%, transparent 100%);
	background: -ms-linear-gradient(left, transparent 0%, #00becd 50%, transparent 100%);
	background: linear-gradient(left, transparent 0%, #00becd 50%, transparent 100%);
}
.brush {
    background: -webkit-radial-gradient(center center, circle contain, #00becd 0%, rgba(20,20,20,0) 100%);
    background: -moz-radial-gradient(center center, circle contain, #00becd 0%, rgba(20,20,20,0) 100%);
    background: -ms-radial-gradient(center center, circle contain, #00becd 0%, rgba(20,20,20,0) 100%);
    background: radial-gradient(center center, circle contain, #00becd 0%, rgba(20,20,20,0) 100%);
}
