body {background-color:#420127;color:#fff;}
.slider-frame, .options li, .button, #joshua {background-color:#66013c;}
.button.playing, .options li:hover, .button:hover, .options .active {background-color:#ae2a78;}
.ui-slider-handle, .window, h1, #input {background-color:#4a012c;}
.button, .button.paused, .slider-frame, .options li, .light, .command, .example, a, .joshua, .error {color:#ff8acf;}
.close, .close:hover, .dark, .prompt {color:#ff34ab;}
.dark {color:#4bccfc;}
#prompt { color:#ffdcf0;}
.window h1, .window h2 {
	padding:0;
	background-color:transparent;
	color:#fff;
}
/* images */
ul.icons li a {
	background-image:url("../images/iconsRachael.png");
}
body {
	background-image:url("../images/backgroundRachael.png");
	background-repeat: no-repeat;
	background-position:140px 40px;
}
.window .close {
	position:absolute;
	top:10px;
	right:10px;
}
.options li:hover, .button:hover, .button.playing, .options .active {color:#4a012c;}

::-webkit-scrollbar-thumb {
	background-color:#ae2a78;
}
::-webkit-scrollbar-track {
	background-color:#4a012c;
}

#cylon {
	background: -webkit-linear-gradient(left, rgba(66,1,39,0) 0%, #ff8acf 50%, rgba(66,1,39,0) 100%);
	background: -moz-linear-gradient(left, rgba(66,1,39,0) 0%, #ff8acf 50%,rgba(66,1,39,0) 100%);
	background: -ms-linear-gradient(left, rgba(66,1,39,0) 0%, #ff8acf 50%, rgba(66,1,39,0) 100%);
	background: linear-gradient(left, rgba(66,1,39,0) 0%, #ff8acf 50%, rgba(66,1,39,0) 100%);
}
.brush {
    background: -webkit-radial-gradient(center center, circle contain, #ff8acf 0%, rgba(66,1,39,0) 100%);
    background: -moz-radial-gradient(center center, circle contain, #ff8acf 0%, rgba(66,1,39,0) 100%);
    background: -ms-radial-gradient(center center, circle contain, #ff8acf 0%, rgba(66,1,39,0) 100%);
    background: radial-gradient(center center, circle contain, #ff8acf 0%, rgba(66,1,39,0) 100%);
}
#loader {
	background:url('../images/loader.png') no-repeat center 6px;
}