/*
 * tron
 */
body {
	background-color:#000;
	color:#fff;
	font-family:Helvetica, Arial;
	font-size:14px;
	line-height:18px;
	background-image:url("../images/backgroundTronBlue.jpg");
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

/* joshua */
#joshua {
	z-index:10;
	height:460px;
	width:800px;
	padding:10px;
	position:absolute;
	left:50%; top:50%;
	margin-left:-400px;
	margin-top:-230px;
	background-color:rgba(0,0,0,0.85);
}
#input {
	margin-top:10px;
	padding:5px;
}
#output {
	width:790px;
	padding-right:10px;
}
pre, p, #prompt, table {
	width:760px;
}
a {
	text-decoration:none;
}
#output {
	height:382px;
}
#prompt {
	font-family:Helvetica, Arial;
	font-size:12px;
	background:transparent;
	border:none;
	overflow:hidden;
	margin-left:2px;
	text-transform:lowercase;
	height:18px;
	line-height:18px;
	color:#fff;
}
h1 {
	color:#fff;
	height:2px;
	font-size:11px;
}
.tron.extra {
	display:block;
}
.tron ul {
	margin-bottom:0;
}

/* blocks */
h1, h2 {
	clear:both;
	display:block;
	margin-bottom:10px;
}
h1 a, h2 a {
	text-decoration:none;
}
.italic {
	font-style:italic;
}
.window h1, .close, #desktop ul li a {
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
}
.close {
	float:right;
	position:relative;
	top:4px; right:-6px;
	border:solid 2px #555;
	font-family:'ProFont';
	line-height:1em;
	padding:1px 5px;
	color:#000;
}
.window {
	background-color:rgba(0,0,0,0.85);
	padding:10px;
}
.window p {
	width:auto;
	font-size:11px;
	line-height:16px;
	padding:0 10px;
}
.example {
	margin-top:-5px;
	font-size:12px;
	font-style:italic;
}
p, table, pre {
	margin-bottom:10px;
	cursor:default;
}
ol, ul, .motd, .prompt {
	margin-bottom:10px;
}
.output {
	margin-bottom:20px;
}
.window h1 {
	color:#777;
}
#customize.window {
	width:280px;
}

/* tiny buttons */
.tiny {
	margin-top:-5px;
	margin-bottom:10px;
}
.tiny li {
	float:left;
	margin-right:5px;
	margin-top:5px;
	padding:3px 6px;
	text-transform:capitalize;
	font-size:11px;
	line-height:1.2em;
	color:#777;
	border:solid 1px #555;
}

/* misc */
.pre, .tiny, .output p, .output td, .output pre {
	padding:0 10px;
}
.clear {
	clear:both;
}
.prompt b {
	font-weight:normal;
}
table.torrents .torrent {
	width:620px;
}
table.torrents td {
	vertical-align:middle;
}
table.torrents td a {
	text-decoration:none;
}
table.torrents td a:hover {
	text-decoration:underline;
}
.clear {
	clear:both;
}

/* desktop */
#desktop {
	z-index:9;
	overflow:hidden;
	position:absolute;
	top:20px;left:20px;
}
#desktop ul {
	margin-bottom:0;
}
#desktop a {
	color:#6a6a6a;
}
#desktop ul#links {
	opacity:0.5;
}
.tiny li:hover, #desktop a:hover, .tiny .active {
	border-color:#68b8ff;
	color:#68b8ff;
}
.close:hover {
	border-color:#68b8ff;	
}
#desktop a.active {
	color:#68b8ff;
}

/* mp3 player */
.menu {
	margin:0;
}
.menu li {
	margin-top:5px;
}
.menu li a {
	display:block;
	text-transform:capitalize;
}
.menu li a.playing, .menu li a.playing:hover {
	background-color:#68b8ff;
	opacity:1;
}
.menu li a:hover {
	opacity:0.5;
}

/* colors */
h1 .dark, #input #prompt, .joshua, a, .command, .example {
	color:#68b8ff;
}
.dark {
	color:#777;
}
.error, .joshua {
	font-size:12px;
	line-height:12px;
}
.black {
	display:none;
}
.pink, .error, .error .command {
	color:#f0f;
}
.light {
	color:#0e7fd4;
}
.command {
	text-transform:lowercase;
}
p .command {
	font-weight:bold;
}
h1 {
	line-height:24px;
	height:24px;
	padding:0 10px;
	border:solid 1px #555;
}
.menu li a, h2, .prompt {
	font-weight:bold;
	font-size:11px;
	line-height:18px;
	height:18px;
	padding:0 10px;
	background-color:#fff;
	color:#000;
	opacity:0.25;
}
#input {
	border:solid 2px #68b8ff;
}
.image {
	margin-top:4px;
}

/* rounders */
.image, .speechBubble, ul li a, .prompt, h1, #input {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#joshua, .window {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.tiny li, h2, .close {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/* background */
.tron .tiny li {
	border:none;
	height:5px;
	width:10px;
}
.tron .tiny .blue {
	background-color:#68b8ff;
}
.tron .tiny .pink {
	background-color:#f570f5;
}
.tron .tiny .red {
	background-color:#e9000f;
}
.tron .tiny .yellow {
	background-color:#f0e53a;
}
.tron .tiny .green {
	background-color:#a4e750;
}
.tron .tiny .purple {
	background-color:#9a65ff;
}
.tron .tiny .orange {
	background-color:#eb7129;
}

/*
 * scrollbars
 */
 html, body {
	overflow:hidden;
 }
 #output {
	overflow-x:hidden;
	overflow-y:auto;
}
::-webkit-scrollbar {
    width:8px;
}
::-webkit-scrollbar-thumb {
	border:solid 1px #555;
	background-color:transparent;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/* no pulsar
*/
li.pulsar {
	display:none;
}
body.pulsar {
	-webkit-animation:none;
}

#music .link {
	width:220px;
	background-position:50% 50%;
	opacity:0.5;
}
#music .link:hover {
	opacity:1;
}