/* alexander@binaerpilot.no */
body {background-color:#eee;color:#444;}
.jScrollPaneDrag {background-color:#c4c4c4;}
.button:hover, .tiny div:hover, .button.playing, #joshua {background-color:#fff;}
.button:hover, .tiny div:hover, .button.playing {
	color:#999;
}
.window {
	background-color:#ddd;
}
.window h1, .window h2 {
	background-color:transparent;
	color:#777;
	padding:0;
}

#sliders .frame, .tiny div, #input, .button, .jScrollPaneTrack  {
	background-color:#e4e4e4;
}
#joshua h1 {
	background-color:transparent;
	color:#777;
	text-transform:uppercase;
	line-height:9px;
	padding:10px 0;
}
.example, .light, a, .joshua, .error, .command {color:#09f;}
.close, .close:hover {color:#999;}
.window .close, .window .close:hover {color:#000;}
.pink, .dark, .prompt {color:#f09;}
#prompt { color:#222;}

h1 .dark {
	color:#ccc;
}
/* images */
ul.icons li a {
	color:#555;
	background-image:url("../images/icons.png");
}

body {
	background-image:url('../images/backgroundWhite.png');
	background-repeat:repeat-y;
	background-position:0 0;
}
.window .close {
	position:absolute;
	top:10px;
	right:10px;
}

#sliders .frame, .tiny div, .button, .slider {
	color:#777;
}
#sliders .ui-slider-handle {
	background-color:#aaa;
}
.next-gen.extra, #tip {
	display:none;
}
.brush {
	background-image:url("images/brushWhite.png");
}