body {
	background-color:#fff;
	color:#444;
}

.button:hover, .options li:hover, .button.playing, #joshua, .options .active {background-color:#fff;}
.button:hover, .options li:hover, .button.playing, .options .active {
	color:#999;
}
.window {
	background-color: #f4f4f4;
}
.window h1, .window h2 {
	background-color:transparent;
	color:#777;
	padding:0;
}

.slider-frame, .options li, .button  {
	background-color:#e4e4e4;
}
#joshua h1 {
	position:relative;
	z-index:10;
	background-color:transparent;
	color:#777;
	text-transform:uppercase;
	line-height:9px;
	margin-bottom:0;
}
#output {
	height: 510px;
}
.example, .light, a, .joshua, .error, .command {color:#09f;}
.close, .close:hover {color:#999;}
.window .close, .window .close:hover {color:#000;}
.pink, .dark, .prompt {color:#f09;}

#input {
	background-color: #f4f4f4;
}
#prompt {
	color: #444;
}

h1 .dark {
	color:#ccc;
}
/* images */
ul.icons li a {
	color:rgba(0,0,0,0.5);
	background-image:url("../images/iconsWhitewall.png");
}
[data-background="atari"],
[data-background="clg"],
[data-background="illuminati"],
[data-background="pirate"],
[data-background="sleep"] {
	display: none;
}
body {
	background-image: url('../images/patternBrickwall.png');
	background-repeat: repeat;
}
.window .close {
	position:absolute;
	top:10px;
	right:10px;
}

.slider-frame, .options li, .button, .ui-slider {
	color:#888;
}
.ui-slider-handle {
	background-color:#ccc;
}
.theme-specific.nextgen[data-custom="backgrounds"] {
	display:none;
}

::-webkit-scrollbar-thumb {
	background-color:#e4e4e4;
}
::-webkit-scrollbar-track {
	background-color:#f4f4f4;
}

#loader {
	background:url('../images/loaderWhitewall.png') no-repeat center 6px;
}
#music .link {
	background-image:url("../images/mp3PlayerBlack.png");
}
#matrix .thread {
	color:rgba(0,0,0,0.15);
}
#cylon {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #09f 50%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #09f 50%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #09f 50%, rgba(255,255,255,0) 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, #09f 50%, rgba(255,255,255,0) 100%);
}
.brush {
  background: -webkit-radial-gradient(center center, circle contain, #09f 0%, rgba(255,255,255,0) 100%);
  background: -moz-radial-gradient(center center, circle contain, #09f 0%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center center, circle contain, #09f 0%, rgba(255,255,255,0) 100%);
  background: radial-gradient(center center, circle contain, #09f 0%, rgba(255,255,255,0) 100%);
}

#joshua, .window {
	box-shadow: 3px 3px 10px rgba(0,0,0,.1);
}