/*
 * white
 */	
body {background-color:#eee;color:#444;}

.button:hover, .tiny li:hover, .button.playing, #joshua {background-color:#fff;}
.button:hover, .tiny li:hover, .button.playing {
	color:#999;
}
.window {
	background-color:#ddd;
}
.window h1, .window h2 {
	background-color:transparent;
	color:#777;
	padding:0;
}

#sliders .frame, .tiny li, #input, .button  {
	background-color:#e4e4e4;
}
#joshua h1 {
	position:relative;
	z-index:10;
	background-color:transparent;
	color:#777;
	text-transform:uppercase;
	line-height:9px;
	margin-bottom:0;
}
#output {
	height:450px;
}
.example, .light, a, .joshua, .error, .command {color:#09f;}
.close, .close:hover {color:#999;}
.window .close, .window .close:hover {color:#000;}
.pink, .dark, .prompt {color:#f09;}
#prompt { color:#222;}

h1 .dark {
	color:#ccc;
}
/* images */
ul.icons li a {
	color:rgba(0,0,0,0.5);
	background-image:url("../images/iconsWhite.png");
}
.atari, .pirate, .sleep, .illuminati {
	display:none;
}
body {
	background-image:url('../images/backgroundWhite.png');
	background-repeat:repeat-y;
	background-position:0 0;
}
.window .close {
	position:absolute;
	top:10px;
	right:10px;
}

#sliders .frame, .tiny li, .button, .slider {
	color:#777;
}
#sliders .ui-slider-handle {
	background-color:#aaa;
}
.next-gen.extra, #tip {
	display:none;
}
.brush {
	background-image:url('../images/brushWhite.png');
}

::-webkit-scrollbar-thumb {
	background-color:#c4c4c4;
}
::-webkit-scrollbar-track {
	background-color:#e4e4e4;
}
#output:before {
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}
#input:before {
	background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
}

#loader {
	background:url('../images/loaderWhite.png') no-repeat center 6px;
}