strong {font-weight:bold;}
body {
	background-color:#777;
	font-family:Helvetica,Arial;
}
#eveWrapper {
	width:860px;
	margin:40px auto;
	font-size:14px;
	line-height:20px;
	color:#222;
}
#eveWrapper h2 {
	font-size:38px; color: #fff;
	line-height:42px;
	font-weight:bold;
	letter-spacing:-2px;
	margin-bottom:20px;
	text-shadow:#000 2px 2px 2px;
}
#eveWrapper table {
	color:#eee;
	font-size:11px;
}
#eveWrapper td {
	line-height:16px;
	padding:2px 6px;
	vertical-align:top;
}

a, .highlight {
	color: #87d2d2;
}
#eveWrapper h1 {
	font-weight:bold;
	color: #777;
	text-shadow:#000 2px 2px 2px;
}
.light { background-color: #343434; }
#donate {
	margin-top:20px;
}
.bubble {
	background-color:#222;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:20px;
	margin-top:20px;
}

.dark { background-color: #1f1f1f; }
.darker { background-color: #1a1a1a; }
.light { background-color: #282828; }

#donate {
	position:absolute;
	z-index:5;
	top:0;
	right:10px;
}