body { font-size:9px; color: #ddd; }
h1,h2,h3,h4 { color: #fff; font-size:16px; }
.menu { font-size:12px; background-color:#222; }
.dark { background-color: #1f1f1f; }
.darker { background-color: #1a1a1a; }
.light { background-color: #282828; }
.highlight { color: #f09; }
.txt { color: #999; }
.counter { color: #666; }
.menu { color: #333; }
.menu b { color:#fff; }