@import "reset.css";
@import "thickbox.css";
object { outline:none; border:none; }
a:focus, a:active, input:focus, input:active { outline: none; }
body {
	font-family:Helvetica,Arial;
	font-size:14px;
	line-height:20px;
	background-color:#111;
	margin:0;
	color:#aaa;
	background-image:url("http://jgemainframe.com/images/background.jpg");
	background-repeat:no-repeat;
	background-position:fixed;
}
p {margin-top:0;}
.tear p {margin:0;padding:10px;}

img {border:0;line-height:1px;}
a {text-decoration:none;color:#f30;}
a:hover {text-decoration:underline;}


.clear {clear:both;}
#wrapper {
	background-color:#2d2d2d;
	width:880px;
	margin:50px auto 0 auto;
	padding:25px 40px;
	opacity:0.9;
}
#menu {
	float:left;
	width:195px;
	margin-right:20px;
	line-height:17px;
}
#content {
	float:left;
	width:665px;
}
#twitter {
	float:left;
	width:345px;
	margin-right:20px;
}
#right {float:left;width:175px;}
#right.twitter {
	float:left;
	width:300px;
}
#block {
	width:470px;
	margin-right:20px;
	float:left;
}
.tear, .news_item, .tweet {
	background-color:#1c1c1c;
	color:#aaa;
	padding:10px;
	margin-bottom:5px;
	line-height:18px;
	font-size:14px;
}
.news_item:hover,.tweet:hover{background-color:#141414;color:#eee;}
.tweet p {margin:0;}
.tweet img {float:left;margin-right:10px;margin-top:5px;}
.tweet .username a {color:#444;}
.date, .time {color:#666;font-size:10px;}
.light,.news_item {background-color:#3d3d3d;}


ul {list-style-type:none;padding-left:0;margin:0;padding:0;}
h1,h2,h3,h4 {
	letter-spacing:-1px;
	line-height:18px;
	color:#ccc;
	text-transform:uppercase;
	font-size:18px;
	margin:10px;
	font-weight:bold;
	border-bottom:dotted 1px #3a3a3a;
	padding-bottom:10px;
}

#header {padding:25px 0;}
.clear {clear:both;}

.menu {line-height:20px;margin-bottom:20px;}

/* faders */
#block a, .box a, td.img {opacity:0.85;text-decoration:none;}

.box {line-height:1px; margin-bottom:10px; }
.menu li a {
	display:block;
	background-color:#1c1c1c;
	background-image:url("http://jgemainframe.com/images/menu.png");
	padding:8px 10px;
	font-size:14px;
	margin-bottom:2px;
}
.menu li a:hover {
	background-color:#141414;
	color:#fff;
	text-decoration:none;
}
#subnav a {
	padding:6px 10px;
	background-image:none;
	background-color:#141414;
	color:#aaa;
	opacity:0.85;
}
#subnav a:hover {opacity:1;}
#props {
	margin:auto;
	font-size:11px;
	line-height:20px;
	text-transform:uppercase;
	background-color:#2d2d2d;
	padding:20px 40px;
	width:880px;
	color:#1d1d1d;
	opacity:0.9;
}
#props a {font-weight:bold;color:#1d1d1d;}
#backlink {background-color:transparent !important;color:#444 !important;}
#backlink:hover {color:#888 !important;}
#backlink strong {letter-spacing:0px;}
.quote,.signature {color:#666;font-style:italic;}
.quote {font-size:16px;}

.ships {
	background-color:#1c1c1c;
	padding:10px 20px;
	margin-bottom:20px;
}
.tear .image {
	float:right;
	margin:10px 10px 5px 20px;
	width:185px;
}
.tear .gec {
	float:left;
	margin:13px 10px -3px 10px;
	width:235px;
}
.image .caption {
	font-size:11px;
	color:#555;
}
.gec .caption {
	width:230px;
}
#header .logo {float:left;}
.u {text-decoration:underline;}
.icon {float:right;margin:10px;margin-left:20px;line-height:1px;}
.tear {margin-bottom:20px;}
.tear:last-child{margin-bottom:0;}
table.roster {
	margin:10px;
	width:432px;
	border-spacing:1px;
}
.roster th, .roster td {
	font-size:14px;
	background-color:#282828;
	padding:4px 10px;
	vertical-align: middle;
}
.roster th {
	text-align:left;
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase;
	background-color:#181818;
}
td.title {color:#666;}
td.handle {font-weight:bold;letter-spacing:-1px;}
td.img {background-color:transparent;padding:0;margin:0;width:38px;line-height:1px;}
.location {position:absolute;z-index:10;border:solid 1px #1c1c1c;}
#tr {float:right;margin-left:20px;}
#tr a {
	cursor:pointer;
	opacity:0.75;
	display:block;
	float:left;
	margin-left:10px;
	background-color:#242424;
	padding:4px 10px 3px 10px;
	line-height:1px;
}
#tr a:hover {opacity:1;}
#tr .id {margin:3px 0;text-align:center;}
#tr a.pilot {background-color:#3c3c3c;}

.alternate a {
	color:#777;
}
.tear ul {
	padding:10px 20px 10px 40px;
	list-style-type:circle;
}
form#application {
	padding:10px;
}
input, textarea {
	font-family:Helvetica,Arial;
	font-size:12px;
	border:solid 2px #333;
}
label {
	width:80px;
	float:left;
}
strong, label {
	font-weight:bold;
	letter-spacing:-1px;
}
#application input {
	margin-bottom:10px;
	border:none;
}
#application input.submit {
	margin-top:10px;
	margin-bottom:0;
}
textarea {
	width:430px;
}

.news_item .header {
	color:#ff0;
}